.login-page {
  padding: 10px;
  max-width: 700px;
  margin: auto;

  .login-page__logo-panel {
    margin-top: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #dedede;
    img {
      margin-bottom: 24px;
      width: 240px;
    }
  }

  .login-page__login-form {
    button {
      width: 100%;
    }
    .login-page__login-form__city-selector {
      width: 100%;
    }
    .login-page__login-form__company-checkbox {

    }
  }

  .auth-controls__prompt {
    padding-left: 10px;
  }

  .login-page__explanation-panel {
    font-size: 16px;
  }
}