.question-list-container {
  .question-list {
    .question-list__one-question {
      .question-list__one-question__tags {
        margin-bottom: 4px;
        span {
          margin-right: 8px;
          padding: 4px;
          margin-bottom: 6px;
        }
      }
      .question-list__one-question__title {
        font-size: 18px;
        a {
          margin-right: 10px;
        }
      }
      .question-list__one-question__author {
        font-size: 14px;
        font-style: italic;
      }
      margin-bottom: 30px;
    }
  }
}