
.question-thread-view-form {
  display: block;
  width: 100%;
  .question-thread-view-form__body {
    margin: 0 auto;
    padding-bottom: 12px;
    //border-bottom: 1px solid lightgray;
    .question-thread-view-form__loading {
      font-size: 18px;
    }
    .question-thread-view-form__tags {
      margin-bottom: 4px;
      span {
        margin-right: 8px;
        padding: 4px;
        margin-bottom: 6px;
      }
    }
    .question-thread-view-form__title {
      font-size: 18px;
      padding-bottom: 8px;
    }
    .question-thread-view-form__details {
      font-size: 16px;
      padding-bottom: 8px;
    }
    .question-thread-view-form__controls {

    }
  }
  .question-thread-view-form__answers {
    margin: 0 auto;
    padding-top: 20px;
    .question-thread-view-form__answer-one {
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 10px;
      .question-thread-view-form__answer-one__author-date {
        font-size: 14px;
        font-style: italic;
        margin-bottom: 6px;
      }
      .question-thread-view-form__answer-one__text {
        font-size: 16px;
        padding-bottom: 8px;
        margin-bottom: 6px;
        padding-top: 12px;
      }
      .question-thread-view-form__answer-one__button {
        .button-container {
          display: inline-block;
          margin-right: 10px;
          .button-stat-indicator {
            cursor: default;
          }
        }
      }
    }
  }
}
