@import model.NavigationData
@import model.WebPageData
@(navigationData: NavigationData, pageData: WebPageData)(content: Html)
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.MainController.versioned("compiled/styles.css")">
        <link rel="icon" href="@routes.MainController.versioned("images/favicon.ico")">
        <title>@pageData.title</title>
    </head>
    <body>
        <div class="view-home-composite">
            @views.html.templates.navigationBar(navigationData)
            @content
        </div>
    </body>
    <script src="@routes.MainController.versioned("compiled/bundle.js")"></script>
</html>