@(maybeMessage: Option[String])

@views.html.security.authMain(maybeMessage) {
    @maybeMessage.map { message =>
        <div class="login-page__message-panel">
            <div class="alert alert-danger">@message</div>
        </div>
    }
    <div class="login-page__message-panel" ng-show="!!password1 && !!password2 && (password1 != password2)">
        <div class="alert alert-warning">Passwords don't match!</div>
    </div>

    <div class="login-page__login-form" >
        <form class="form-horizontal" action="/register" method="post">
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" ng-model="username" name="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="fullName" class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="fullName" name="fullName">
                </div>
            </div>
            <div class="form-group row">
                <label for="password1" class="col-sm-3 col-form-label">Enter password</label>
                <div class="col-sm-9">
                    <input class="form-control" type="password" ng-model="password1" name="password1" required="required" pattern=".{6,}" >
                </div>
            </div>
            <div class="form-group row">
                <label for="password2" class="col-sm-3 col-form-label">Confirm password</label>
                <div class="col-sm-9">
                    <input class="form-control" type="password" ng-model="password2" name="password2" required="required" pattern=".{6,}" >
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-3">
                    <button type="submit" ng-disabled="!fullName || !username || !password2 || !password1 || (password1 != password2)" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
}